<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/header::head(title=#{addBook})">
</head>
<body class="cotainer">
<div th:include="fragment/headerLangs :: langs">
</div>
<div class="panel panel-default">
    <form action="#" th:action="@{/addBook}" th:object="${bookCmd}" method="POST" class="form-signin">

        <span class="form-signin-heading alert-danger" th:if="${#fields.hasErrors('name')}"
              th:text="#{error.name}"></span>
        <input th:type="text" th:placeholder="#{name}" th:value="*{name}" th:field="*{name}"
               class="form-control"/>

        <span class="form-signin-heading alert-danger" th:if="${#fields.hasErrors('author')}"
              th:text="#{error.author}"></span>
        <input th:type="text" th:placeholder="#{author}" th:field="*{author}" class="form-control"/>

        <span class="form-signin-heading alert-danger" th:if="${#fields.hasErrors('count')}"
              th:text="#{error.count}"></span>
        <input type="number" th:placeholder="#{count}" th:field="*{count}" class="form-control"/>
        //TODO add janr
        <div class="row">
            <div class="col-lg-2 form-group">
                <label th:text="#{category}"></label>
            </div>

            <div class="col-lg-10 form-group">
                <select class="form-control" id="category" name="category" th:field="*{category}">
                    <optionc
                            th:each="cat: ${categories}"
                            th:value="${cat}"
                            th:text="${cat}">
                    </optionc>
                </select>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-2 form-group">
                <label th:text="#{addedDate}"></label>
            </div>
            <div class="col-lg-10 form-group">
                <input type="date" class="form-control" th:field="*{addedDate}"/>
            </div>
        </div>


        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{createAccount}"></button>
    </form>
</div>
</body>
</html>