<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
<div class="container">
    <div class="well" id="image-post">
        <div class="media" th:each="book : ${books.pageList}">
            <a class="pull-left">
                <img class="media-object" th:src="${book.imageUri}">
            </a>
            <div class="media-body">
                <h4 class="media-heading" th:text="${book.name}"></h4>
                <p class="text-right" th:text="${book.author}">Author</p>
                <p th:text="${book.desc}">text</p>
                <a th:href="${book.fileUri}">DOWNLOAD</a>
            </div>
        </div>
    </div>
</div>

</html>














