<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>

<div class="well" id="image-post">
    <div class="media" th:if="${books != null}" th:each="book : ${books.pageList}">
        <div class="media-left">
            <img th:width="100px" th:height="100px" class="media-object" th:src="@{${book.imageUri}}" alt="image"/>
        </div>

        <script th:inline="javascript">
            var fileName = [[${book.fileUri}]].lastIndexOf("/")
            var extension = fileName.split('.').pop();
            var res = [[${book.name}]].concat(extension)

            function getFileNameWithExtension() {
                return res;
            }
        </script>

        <div class="media-body">
            <h4 class="media-heading" th:text="${book.name}"></h4>
            <p th:text="'AUTHOR : ' + ${book.author}">Author</p>
            <p th:text="'DESCRIPTION :' +  ${book.desc}">text</p>
            <a th:attr="download=${book.name}"  th:href="@{|/books/download?name=${book.fileUri}|}"
               th:text="'DOWNLOAD ' + ${book.name}"></a>
        </div>
        <hr/>
    </div>
</div>

<!--</div>-->

</html>














