<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<nav class="navbar navbar-default" th:fragment="menu">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"
               th:href="@{'http://'+
               ${#httpServletRequest.getServerName()}+
               ':'
               +${#httpServletRequest.getServerPort()}+
               '/client/'+${#strings.toLowerCase(session.loggedUser.role)}}"
               th:text="#{vqportal}"></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/profile/edit}" th:text="#{editProfile}"></a></li>
            <li><a th:href="@{/profile}" th:text="#{myProfile}"></a></li>
            <li><a th:href="@{'/'+${#strings.toLowerCase(session.loggedUser.role)}+'/video'}" th:text="#{myVideo}"></a></li>
            <li><a th:href="@{/login/logout}" th:text="#{logout}"></a></li>
        </ul>
        <div class="row pull-right" th:include="fragment/headerLangs :: langs">
        </div>
    </div>
</nav>
</body>
</html>